body {
    background-color: #aad4cf;
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position:top;

}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    top: 200px;
    bottom: 180px;
  }
h1 {
    text-transform:uppercase;
    font-size: 2rem;
}
 figure img {
 width: 100;
 height: auto;
 display: block;

}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
*/
.container{
 width: 200px;

}

