body {
    background-color: #aad4cf;
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position:top;

}
/* Container for the image and text */
.container {
    position: absolute;
    text-align: center;
    color:whitesmoke;
    top: 200px;
    bottom: 180px;
    padding: auto;
}
h1 {
    position: absolute;
    text-align:center;
    color: whitesmoke;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    top: 25%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

.nav ul{

list-style: none;
text-decoration: none;
background-color: #aad4cf;
margin-top: 0%;
padding: auto;
display: inline-block;
}

 figure img {
 width: 100;
 height: auto;
 display: block;

}
img {
    width: 300px;
  float: left;
  margin: 0%;
  padding: 15px;
}

form{
    width: 200px;

}

form textarea{
    width: 200px;
    height: 400px;
}