body {
    background-color: #aad4cf;
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position:top;

}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    top: 200px;
    bottom: 180px;
  }
h1 {
    text-transform:uppercase;
    font-size: 2rem;
}
 figure img {
 width: 100;
 height: auto;
 display: block;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  </style>
  </head>
  <body>
  
  <ul>
    <li><a href=" #home ">Home</a></li>
    <li><a href=" #news ">News</a></li>
    <li><a href=" #about ">About</a></li>
  </ul>
  
*/
.container{
 width: 200px;

}

