body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size; medium,
    max-width: 1200px ;
}

.top-header {
    display:flex;
    align-items: center;
    background-color: darkgoldenrod;
    height: 200px;
    width: 1200px;
    position: relative;
    top: 15px;
}

.wrapper {
    color:darkgoldenrod;
    background-color:rgb(29, 27, 27);
    list-style-type: none; 
    text-align: center; 
    font-size: 30px;
    height: 200px;
    width: 1200px;
    margin: auto;
    position: absolute;
    
}

.main-banner {
    display: flex;
    align-items: center;
    height: 100px;
    width:700px;
    top: 20%;
    margin: auto;
    position: relative;
}

.button {
    background-color: darkgoldenrod;
    border: 20px;
    padding: 10px;
    font-size: 30px;
}

.about-us {
    background-color:#ffe6ac;
    width: 1200px;
}
.dg-transfm{
    background-color:#ffe6ac;
    width: 1200px;

}
.digital {
    background-color:black;
    color:white;
    border: 20px;
    padding: 10px;
    font-size: 20px;
}
.mrkting {
    background-color:#ffe6ac;
    width: 1200px;
}
.marketing {
    background-color:black;
    color:white;
    border: 20px;
    padding: 10px;
    font-size: 20px;
}
.vdo-prodn {
    background-color:#ffe6ac;
    width: 1200px;
}
.video-button {
    background-color:black;
    color:white;
    border: 20px;
    padding: 10px;
    font-size: 20px;
}
.web-dev {
    background-color:#ffe6ac;
    width: 1200px;
}
.web-button {
    background-color:black;
    color:white;
    border: 20px;
    padding: 10px;
    font-size: 20px;
}
.print {
    background-color:#ffe6ac;
    width: 1200px;
}
.print-button {
    background-color:black;
    color:white;
    border: 20px;
    padding: 10px;
    font-size: 20px;
}

.our-vision{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    color: azure;
    width: 1100px;

}

.vision-button {
background-image:url(..images/vision.jpg);
color: aliceblue;
width: 200px;
height: 80px;
background-color:rgb(22, 22, 67);
border: 10px;
border-color:darkgoldenrod;
padding: 20px;
z-index: 1px;
}
.john {
    background-color:#ffe6ac;
    width: 900px;
}
.bob {
    background-color:#ffe6ac;
    width: 900px;
}
.send-button {
    background-color:black;
    color:darkgoldenrod;
    border: 20px;
    padding: 10px;
    font-size: 15px;
}
.table {
    background-color: black;
    font-size: large;
}

.date {
    background-color:#ffe6ac;
}

.time {
    background-color: white;
}

.days{
    background-color: white;
}
footer {
    color: darkgoldenrod;
    background-color: #222;
}